.box-container {
    display: flex;
    gap: 35px;
    opacity: 0.7;
}

.box {
    
    height: 140px;
    width: 180px;
    background-color: palegoldenrod;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: palevioletred;
    color: wheat;
    transform: translateY(+30px);
    cursor: crosshair;

}

.special {
    transform: translateY(-10px);
}

.boxx-container {
    display: flex;
    gap: 35px;
    opacity: 0.5;
    
}

.boxx {
    cursor: crosshair;
    height: 140px;
    width: 180px;
    background-color: palegoldenrod;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: palevioletred;
    color: wheat;
    transform: translateY(+50px);
    
}

.speciall {
    transform: translateY(+20px);
}

@media (max-width: 586px) {
   .box-container {
    display: flex;
    flex-direction: column;
}
.boxx-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.box {
    transform: translate(0);
}

.special {
    transform: translate(0);
    transform: translateX(25px);
}
    
.boxx {
    transform: translate(0);
}

.speciall {
    transform: translate(0);
    transform: translateX(25px);
}

}
